In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn 
import statsmodels

import sys
import os
import time

# Sparkling Dataset

In [4]:
df = pd.read_csv('Sparkling.csv')
df.head()

  YearMonth  Sparkling
0   1980-01       1686
1   1980-02       1591
2   1980-03       2304
3   1980-04       1712
4   1980-05       1471